// MEDIA QUERY MANAGER

/*
0 - 639px: default
640px - 959px: medium
960px - 1199px: large
1200px - 1599px: xlarge
1600px - ~ : xxlarge
*/

@mixin respond-medium {
  @media (min-width: 640px) { @content };
}
@mixin respond-large {
  @media (min-width: 960px) { @content };
}
@mixin respond-xlarge {
  @media (min-width: 1200px) { @content };
}
@mixin respond-xxlarge {
  @media (min-width: 1600px) { @content };
}


@mixin heading {
  font-family: 'Noah Bold', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
